@tailwind base;
@tailwind components;
@tailwind utilities;

@import "computer-modern/index.css";

html {
  font-size: 14.6px;
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(113, 63, 18, 0.3) transparent; 
  }
}

@media print {

  @page {
    margin: 2rem;
    padding: 0rem;
  }

  .list-no-break li:first-child,
  .list-no-break li:last-child {
    @apply break-before-avoid-page;
  }

  li {
    page-break-inside: avoid;
  }
}