@tailwind base;
@tailwind components;
@tailwind utilities;

@import "computer-modern/index.css";

@page {
  margin: 0rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

html {
  font-size: 14.5px;
}

@media print {
  html {
    font-size: 14.5px;
  }

  .list-no-break li:first-child,
  .list-no-break li:last-child {
    @apply break-before-avoid-page;
  }

  p,
  li {
    @apply break-inside-avoid-page;
  }
}